.main-top-logogroup {
  display: inline-block;
  width: 35%;
  margin-left: 10%;
  margin-top: 12%;
}

.main-top-logogroup-logo {
  float: right;
  font-size: 2.5em;
}

.main-top-logogroup-username {
  margin-top: 5%;
  margin-right: 5%;
  float: right;
  font-size: 1.5em;
}

.main-top-activetopics {
  display: inline-block;
  width: 35%;
  margin-left: 10%;
  position: relative;
  top: -50vh;
  left: 50%;
  list-style: none;
}

.main-top-activetopics-item {

}

.main-top-topicinputgroup {
  display: block;
  width: 25%;
  margin-top: 2%;
  position: relative;
  left: 23%;
}

.main-top-topicinputgroup-text {
  display: block;
  width: 100%;
  box-shadow: 1px 1px 2.5px;
  font-size: 0.8em;
  font-family: "微軟正黑體", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-top-topicinputgroup-submit {
  width: 25%;
  margin-right: 5%;
  padding: 1%;
  float: right;
  border-color: transparent;
  border-style: none;
  border-image: none;
  background-color: transparent;
  text-align: center;
  font-size: 1em;
  color: #9C9898;
  cursor: pointer;
}
