.topic-wall{
	display: inline-block;
	width: 87%;
	height: 90%;
	margin-left: 7%;
	margin-top: 2%;
	border-bottom-left-radius: 1em;
}

.topic-wall-row {
	width: 100%;
	height: 25%;
	display: flex;
	background-color: transparent;
	border-color: #9C9898;
}

.topic-wall-row-block-topicLeft {
	width: 40.7%;
	height: 100%;
	display: flex;
	box-sizing: border-box;
}

.topic-wall-row-block-topicRight {
	width: 22.3%;
	height: 100%;
	display: flex;
	box-sizing: border-box;
}

.topic-wall-row-block-topic {
	width: 22.2%;
	height: 100%;
	text-align: left;
}

.topic-wall-row-block-topic span {
	font-weight: normal;
	font-size: 1.55em;
	color: #9C9898;
	vertical-align: middle;
	cursor: pointer;
}

.topic-wall-row-block-topic-text {
	margin-top: 15%;
	padding: 0 0 5% 0;
	box-sizing: border-box;
	border-bottom: solid 2px;
	border-color: #FCE481;
	font-size: 2.3em;
	font-weight: bold;
	letter-spacing: 1;
	color: #9C9898;
	cursor: pointer;
}

.topic-wall-row-block-subtopic {
	width: 14.8%;
	height: 100%;
	background-color: transparent;
	box-sizing: border-box;
	border-color: #9C9898;
}

.placeholder {
	height: 100%;
	flex-basis: 2%;
	margin: 0;
	padding: 0;
	background-color:transparent;
	border-color: #9C9898;
}

.cell {
	height: 100%;
	flex-basis: 100%;
	background-color: transparent;
	box-sizing: border-box;
}

.cell-default {
	height: 100%;
	flex-basis: 100%;
	background-color: transparent;
	box-sizing: border-box;
	border-radius: 15px;
	cursor: pointer;
}

.cell-focus {
	height: 97%;
	flex-basis: 100%;
	background-color: transparent;
	opacity: 0.7;
	box-sizing: border-box;
	box-shadow: 2px 1px 8px 2px #9C9898;
	border-radius: 15px;
	cursor: pointer;
}

.cell-searching {
	height: 97%;
	flex-basis: 100%;
	background-color: #FFFFFF;
	box-sizing: border-box;
	border: 2px solid;
	border-color: #EFB600;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 3px #EFB600;
}

.dragover {
	background-color: #99ff99;
}

.not_dragover  {
	background-color: initial;
}
