.topic-wall{
	display: inline-block;
	width: 90%;
	height: 90%;
	min-width: 960px;
	margin-left: 5%;
	font-size: 13px;
}

.topic-wall-showing{
	width: 45%;
	height: 60.8%;
	position: absolute;
	top: 26.5%;
	margin-left: 25%;
	box-sizing: border-box;
	border-left: solid 1px;
	border-color: #9C9898;
	font-family: "微軟正黑體", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
}

.topic-wall-showing-topiceditor{
	width: 80%;
	height: 8%;
	margin-top: 2%;
	margin-left: 3%;
	box-sizing: border-box;
	border-bottom: solid 1px;
	border-color: #9C9898;
	font-size: 1.45em;
}

.topic-wall-showing-texteditor{
	width: 83%;
	height: 76%;
	margin-top: 1%;
	margin-left: 3%;
	box-sizing: border-box;
	border-color: #9C9898;
	font-size: 1.2em;
}

.topic-wall-showing-bar {
	width: 90%;
	height: 9%;
	position: absolute;
	top: 92%;
	margin-left: 3%;
	box-sizing: border-box;
	font-size: 1.5em;
	color: #A8A8A8;
}

.topic-text {
	width: 28%;
	height: 30%;
	display: inline-block;
}

.topic-text-header {
	height: 60%;
	font-size: 2em;
	font-weight: 700;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif, "微軟正黑體", "新細明體";
}

.topic-text p {
	max-height: 38%;
	overflow-y: hidden;
}

.topic-foundation {
	width: 71.5%;
	height: 28%;
	display: inline-block;
	position: absolute;
	top: 62%;
	margin-left: 0.5%;
	box-sizing: border-box;
	border-top: solid 2px;
	border-bottom: solid 3px;
	border-color: #9C9898;
	background-color: transparent;
}

.topic-newedit{
	width: 27%;
	min-height: 12%;
	position: absolute;
	top: 6%;
	margin-left: 65%;
	background-color: #FFFFFF;
	box-sizing: border-box;
	border: solid 2px;
	z-index: 1;
}

.row {
	width: 100%;
	height: 25%;
	display: flex;
	background-color: #FFFFFF;
	border-top: solid 2px;
	border-color: #9C9898;
}

.row-four {
	width: 72%;
	height: 25%;
	display: flex;
	float: right;
	background-color: #FFFFFF;
	border-top: solid 2px;
	border-color: #9C9898;
}

.memo {
	width: 25%;
	height: 58%;
	position: absolute;
	top: 29.8%;
	right: 8%;
	box-sizing: border-box;
	background-color: #FFFFFF;
	border: 1px solid;
	border-radius: 25px;
}

.memo ol {
	width: 85%;
	padding: 0 0 0 5%;
	margin: 0 4%;
	overflow-wrap: break-word;
	overflow-y: auto;
	list-style-type: circle;
	font-size: 1em;
	font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif, "微軟正黑體", "新細明體";
}

.memo-Editor{
	width:92%;
	max-height: 60%;
	margin-left: 4%;
	border-bottom: solid 1px;
	border-color: #9C9898;
	overflow-y: auto;
}

.placeholder {
	height: 100%;
	flex-basis: 2%;
	margin: 0;
	padding: 0;
	background-color:transparent;
	border-right: solid 2px;
	border-color: #9C9898;
}

.cell {
	height: 97%;
	flex-basis: 100%;
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: #EA2F11;
	border-radius: 15px;
}

.cell-default {
	height: 97%;
	flex-basis: 100%;
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: #FFFFFF;
	border-radius: 15px;
	cursor: pointer;
}

.cell-create{
	height: 98%;
	flex-basis: 50%;
	background-color: transparent;
	box-sizing: border-box;
	border: 3px solid;
	border-color: #000000;
	border-radius: 5px;
	cursor: pointer;
}

.cell-create-edit{
	width: 48%;
	height: 42.5%;
	position: absolute;
	top: 5.2%;
	left: 47%;
	padding: 2% 2% 1% 2%;
	background-color: #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	z-index: 1;
	font-family: "微軟正黑體", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
}

.cell-create-edit-topic{
	display: inline-block;
	width: 80%;
	height: 15%;
	box-sizing: border-box;
	border-bottom: solid 2px;
	border-color: #9C9898;
	font-size: 1.4em;
}

.cell-create-edit-text{
	display: inline-block;
	width: 80%;
	height: 76%;
	margin-top: 2%;
	box-sizing: border-box;
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #9C9898;
	font-size: 1.2em;
}

.brickOriginal {
	width:100%;
  height: 100%;
	margin:0;
	padding:0;
	background-image:url(template_BrickOriginal.svg);
	background-repeat:no-repeat;
	position: relative;
	cursor: pointer;
}

.brickOriginal-Blank{
	width: 90%;
	height: 90%;
	background-color: #d3320d;
}

.brick-content-topic {
	width: 80%;
	height: 20%;
	margin: 1% 3% 1% 4%;
	line-height: 1.4em;
	font-size: 1.4em;
	font-family: "微軟正黑體", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.brick-content-text {
	width: 90%;
	height: 55%;
	margin-left: 4%;
	overflow-x: hidden;
	overflow-y: hidden;
	line-height: 1.3em;
	font-size: 1.1em;
	font-family: "微軟正黑體", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.brick-content-ref {
	width: 80%;
	height: 20%;
	position: absolute;
	top: 70%;
	left: 8%;
	line-height: 1.1em;
	font-size: 1em;
}

.add-dialogbox {
	width:500px;
  height: 200px;
	display: none;
}

.input-new {
	width: 80%;
}

.pasteHolder {
	position: absolute;
	left: -9999px;
}

#paste {
    padding: 1%;
    border: 3px ridge;
    /*width: 300px;*/
}

#paste label{
    display: inline-block;
    width: 20%;
    min-width: 100px;
}

.dragover {
	background-color: #99ff99;
}

.not_dragover  {
	background-color: initial;
}
