.topic-wall-row-block-subtopic-controlbar{
	width: 10%;
	height: 80%;
	margin-top: 10%;
	box-sizing: border-box;
	float: right;
}

.topic-wall-row-block-subtopic-controlbar span {
	display: block;
	width: 100%;
	height: 30%;
	margin-top: 3.3%;
	box-sizing: border-box;
	border-bottom: solid 1px;
	border-color: #9C9898;
	text-align: center;
	font-size: 1.3em;
	color: #9C9898;
	cursor: pointer;
}

.topic-wall-row-block-subtopic-taglist {
	overflow-x: hidden;
	overflow-y: auto;
	text-align: left;
	font-size: 1.3em;
	z-index: 1;
}

.topic-wall-row-block-subtopic-taglist ul {
	list-style: none;
}

.topic-wall-row-block-subtopic-taglist ul li {
	color: #5e93c5;
	cursor: pointer;
}

.topic-wall-row-block-subtopic-questionlist{
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 1.3em;
	z-index: 1;
}

.topic-wall-row-block-subtopic-questionlist ul {
	list-style: none;
}

.topic-wall-row-block-subtopic-questionlist ul li {
	color: #5e93c5;
	cursor: pointer;
}

.topic-wall-row-block-subtopic-hyphenlist{
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 1.3em;
	z-index: 1;
}

.topic-wall-row-block-subtopic-hyphenlist ul {
	list-style: none;
}

.topic-wall-row-block-subtopic-hyphenlist ul li {
	color: #5e93c5;
	cursor: pointer;
}

.topic-editbrick-col{
	width: 42%;
	height: 80%;
	box-sizing: border-box;
	position: absolute;
	bottom: 10%;
	left: 30%;
	background-color: #FFFFFF;
	font-size: 14px;
}

.topic-editbrick-col-editorgroup {
	width: 85%;
	margin-left: 5%;
	margin-top: 5%;
	padding: 0 2%;
	border-color: #9C9898;
}

.topic-editbrick-col-editorgroup-contentEditor{
	width: 90%;
	margin-left: 5%;
	box-sizing: border-box;
	border-bottom: solid 1px;
	border-color: #9C9898;
	font-size: 1.2em;
}

.topic-editbrick-col-editorgroup-contentEditor-active{
	margin-bottom: 3%;
	box-shadow: 0px 2px 0.5px;
}

.topic-editbrick-col-editorgroup-subEditor{
	width: 90%;
	margin-left: 5%;
	margin-top: 2%;
	padding: 0 1%;
	box-sizing: border-box;
	border-left: solid 1px;
	border-color: #9C9898;
	font-size: 1em;
}

.topic-editbrick-col-editorgroup-stylegroup{
	width: 95%;
	margin-bottom: 2%;
	border-color: #9C9898;
	font-size: 1em;
	cursor: pointer;
}

.topic-editbrick-col-input-save{
	width: 25%;
	margin-right: 5%;
	padding: 0.5%;
	float: right;
	border-color: transparent;
	border-radius: 3px;
	border-style: none;
	border-image: none;
	background-color: #466656;
	text-align: center;
	font-size: 1.8em;
	color: #FFFFFF;
	cursor: pointer;
}

.topic-editbrick-col-input-close {
	width: 20%;
	border: none;
	background-color: #FFFFFF;
	box-shadow: 0.5px 0.5px 1px;
	text-align: center;
	font-size: 3em;
	color: #9C9898;
	cursor: pointer;
}
