section .section-TopicWall{
	display: inline-block;
	width: 90%;
	min-width: 1180px;
  border: 1px solid #8f967e;
	margin-left: 5%;
	font-size: 13px;
}

.topic {
	width: 23%;
	height: 140px;
	display: inline-block;
}

.row {
	width: 100%;
	height: 137px;
	display: flex;
	box-sizing:border-box;
	border-color: transparent;
	border: 1px;
	border-left: none;
	border-right: none;
}

.rowFour {
	width: 77%;
	height: 137px;
	display: inline-flex;
	box-sizing:border-box;
	border-color: transparent;
	border: 1px;
	border-left: none;
	border-right: none;
}

.memo {
	width: 28%;
	height: 272px;
	border: 1px dotted;
}

.Manipulate-button {
	float: right;
}

.placeholder {
	width: 10px;
	height: 135px;
	display: inline-block;
	background-color:transparent;
	margin: 0;
	padding: 0;
}

.cell {
	height: 100%;
	flex-basis: 100%;
	background-color: transparent;
	border: 1px solid;
	border-color: #EA2F11;
}

.cell-default {
	height: 100%;
	flex-basis: 100%;
	background-color: transparent;
	border: 1px solid;
	border-color: #A08C8A;
}

.brickOriginal {
	width:100%;
    height: 100%;
	margin:0;
	padding:0;
	background-image:url(template_BrickOriginal.svg);
	background-repeat:no-repeat;
	position: relative;
}

.brickOriginal-Blank{
	width: 90%;
	height: 90%;
	background-color: #d3320d;
}

.brick-content {
	width: 88%;
	height: 64%;
	margin: 0;
	position:absolute;
	top: 0%;
	left: 6%;
	line-height: 1.4em;
	font-size: 1.3em;
	font-family: "微軟正黑體", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.brick-ref {
	width: 80%;
	height: 20%;
	position: absolute;
	top: 70%;
	left: 8%;
	line-height: 1.1em;
	font-size: 1 em;
}

.add-dialogbox {
	width:500px;
  height: 200px;
	display: none;
}

.input-new {
	width: 80%;
}

.pasteHolder {
	position: absolute;
	left: -9999px;
}

#paste {
    padding: 1%;
    border: 3px ridge;
    /*width: 300px;*/
}

#paste label{
    display: inline-block;
    width: 20%;
    min-width: 100px;
}

.dragover {
	background-color: #99ff99;
}

.not_dragover  {
	background-color: initial;
}
